################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net_service_d09.console.template.tests/obj
/src/.vs/net_service_d09.console.template
/src/obj/Debug/net8.0/net_service_d09.console.template.AssemblyInfoInputs.cache
/src/obj/Debug/net8.0/net_service_d09.console.template.AssemblyInfo.cs
src/obj/Debug/net8.0/net_service_d09.console.template.AssemblyInfo.cs
src/obj/Debug/net8.0/net_service_d09.console.template.AssemblyInfoInputs.cache
/src/net_service_d09.console.template.tests/bin

/src/bin/Debug/net8.0
/src/obj/Debug/net8.0
